body{
    text-align: center;
    background-color:#00b3b3;
}

#submit{
    box-shadow: 1px 1px;
    border-radius: 25px;
    color:#660000;
}

#input{
    border-radius: 25px;
    box-shadow: 1px 1px;
}

#head{
    color:#660000;
   
}